In [63]:
list_nama = ['agus', 'sari', 'putri', 'bambang']
list_nilai_a = [70, 63, 84, 65]
list_nilai_b = [63, 44, 79, 83]

# 1. Dari `list_nama`, `list_nilai_a`, dan `list_nilai_b` di atas, buat ***list of dictionaries*** dgn key = **nama**, & **nilai_rata**. Contoh:
```
[{'nama': 'agus', 'nilai_rata': 66.5},
 {'nama': 'sari', 'nilai_rata': 53.5},
 {'nama': 'putri', 'nilai_rata': 81.5},
 {'nama': 'bambang', 'nilai_rata': 74.0}]
```
2. kelompokkan nilai berdasarkan range nilai:

*   **A**: 80 - 100
*   **B**: 70 - 79
*   **C**: 60 - 69
*   **D**: kurang dari 59

3. masukkan nama-nama siswa berdasarkan nilai rata-rata masing-masing, ke dalam **list_range_a**, **list_range_b**, **list_range_c**, **list_range_d**

In [64]:
list_of_dictionaries = []

for list_nama, list_nilai_a, list_nilai_b in zip(list_nama, list_nilai_a, list_nilai_b):
  hasil = {
    'nama': list_nama,
    'nilai_rata': ((list_nilai_a + list_nilai_b)/2)
  }
  list_of_dictionaries.append(hasil)

In [141]:
 list_of_dictionaries

[{'nama': 'agus', 'nilai_rata': 66.5},
 {'nama': 'sari', 'nilai_rata': 53.5},
 {'nama': 'putri', 'nilai_rata': 81.5},
 {'nama': 'bambang', 'nilai_rata': 74.0}]

In [161]:
list_range_a = []
list_range_b = []
list_range_c = []
list_range_d = []

for value in list_of_dictionaries:  
  if value['nilai_rata'] <= 59 :
    print(f'siswa bernama {value["nama"]} dgn nilai : {value["nilai_rata"]}, dinyatakan list_range_d!')
    list_range_d.append(value["nama"])
  elif value['nilai_rata'] <= 69 :
    print(f'siswa bernama {value["nama"]} dgn nilai : {value["nilai_rata"]}, dinyatakan list_range_c!')
    list_range_c.append(value["nama"])
  elif value['nilai_rata'] <=79 :
    print(f'siswa bernama {value["nama"]} dgn nilai : {value["nilai_rata"]}, dinyatakan list_range_b!')
    list_range_b.append(value["nama"])
  elif value['nilai_rata'] <= 100 :
    print(f'siswa bernama {value["nama"]} dgn nilai : {value["nilai_rata"]}, dinyatakan list_range_a!')
    list_range_a.append(value["nama"])
  else:
    print(f'data siswa bernama {value["nama"]} ERORR!')

siswa bernama agus dgn nilai : 66.5, dinyatakan list_range_c!
siswa bernama sari dgn nilai : 53.5, dinyatakan list_range_d!
siswa bernama putri dgn nilai : 81.5, dinyatakan list_range_a!
siswa bernama bambang dgn nilai : 74.0, dinyatakan list_range_b!

In [162]:
print(list_range_a)
print(list_range_b)
print(list_range_c)
print(list_range_d)

['putri']
['bambang']
['agus']
['sari']